.allprojects{
    padding-top: 200px;
    display: grid;
    grid-template-columns: 1000px auto auto auto auto  auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    width: 400vh;
    margin-left: 3200px;
}
.header{
    width: 100%;
    margin-top: 50px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    font-size:40px ;
    position: relative;
    text-align: center;
}