@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.frontpage{
  padding: 0px 50px;
  background-image: url("/src/assets/img/olaf.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #5C4932;
  height: 100vh;
}

.container h1{
margin-bottom: 200px;
text-align: center;
font-size: 60px;
font-family: 'Architects Daughter', cursive;
}

img{
  transition: .4s ease-in-out;
  filter: invert(0) blur(3px);
  top: 100px;
  max-width: 25%;
}
img:hover{
  animation-fill-mode: forwards;
  filter: invert(100%)  blur(0);
}